<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
    <% include partials/_header %>
    <ul>
      <% for (url in urls){ %>
          <li><a href="http://localhost:8080/<%= url %>">http://localhost:8080/<%= url %> </a> (<%= urls[url]%>)</li>
        <form method="POST" action="/<%= url %>/delete">

          <button>Delete</button>
          </form>
      <% } %>


    </ul>
</body>
</html>